/* Estilos de letra */

h1{
    font-family:'Playfair display';
    font-size: 300%;
}

h2{
    font-family:'Playfair display';
}



li, p, a{
    font-family: 'Lora', serif;
    color: black;
}
.container_inicio a{
    font-size: 200%;
}

.Contenedor_Latest_News_Grande a{
    font-size: 100%;
}

h2{
    font-size: 200%;
    font-family: 'Work Sans', sans-serif;
}

.h2--banner_title{ 
    color: #529F0F;
    font-weight: bold;
    font-size: 220%;
    font-weight: bold;

}

h3{
    font-family: 'Work Sans', sans-serif;
}

h4{
    text-decoration: underline;
    font-style: italic;
    color: #529F0F;
}

s{
    color: gray;
    opacity: 0.7;
}

ul {
    list-style: none;
}

.Latest_Products{
    background-image: url(Imagenes/bg-1.jpg);
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.ima_Latest_Products{
    display: flex;
    justify-content:space-around;
    gap: 1%;
    padding: 1%;
}

.ima_Latest_Products img{
    width: 80%;
    height: 60%;
}
.Contenedor_Latest_News_Grande{
    display: flex;
    justify-content: space-between;
    row-gap: 2%;
    gap:50px;
    padding: 2%;
}

.Latest_News{
    background-image: url(Imagenes/bg-1.jpg);
    background-size: auto;
    background-position: center;
    padding: 7%;
    margin: 2%;
    position: relative;
}

.Latest_News img{
    width: 65%;
    height: 70%; 
}

.Latest_News h2 {
    text-align: center;
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    text-decoration: underline;
    margin: 0;
}

.imagenes_footer{
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.imagenes_footer img{
    width: auto;
    height: auto;
}

.listado_footer{
    background-color: #F8F8F8;
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 50px;
}

.banda_footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}

#PayPal{
    height: 50px;
    width: 80px;
}

#American{
    height: 80px;
    width: 80px;
}

#Amazon{
    height: 50px;
    width: 80px;
}

#Visa{
    height: 50px;
    width: 80px;
}




.Contenedor_Latest_News h4{
    font-family: 'Work Sans', sans-serif;
    color: #529F0F;
    text-decoration: underline;
    font-style: italic;
}

.titulos_Latest_News{
    size: 10px;
    font-weight: bold;
}


@media screen and (min-width: 768px) {
    .Latest_News img{
        width: 70%;
        height: 50%; 
        font-size: 40%;
    }

}

@media screen and (max-width: 768px) {
    .Contenedor_Latest_News_Grande, .imagenes_footer{
        flex-direction: column; 
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        
    }
    .imagenes_footer img:not(:first-child) {
        display: none;
    }
    .Contenedor_Latest_News_Grande img{
        width: 100% ;
        height: 100%;
    }
    .Contenedor_Latest_News_Grande h2{
        margin-top: -60px;
    }
    .listado_footer{
        grid-template-columns: 1fr;
        gap: 1%;
    }

    .listado_footer ul li{
        margin-bottom: 8%;
    }
.banda_footer {
    display: grid;
    grid-template-rows: auto; /* Una fila de altura automática para el párrafo */
    grid-template-columns: auto repeat(4, 1fr); /* Una columna para el párrafo y cuatro columnas de ancho fraccionado para las imágenes */
    gap: 10px; /* Espacio entre elementos */
    margin-left: 20%;
    
    }
    
    .banda_footer p {
    grid-column: 1 / -1; /* El párrafo ocupará todas las columnas disponibles */
    justify-content: center;
}
    
    .banda_footer img {
    width: 100%; /* Ajustar el ancho de las imágenes al 100% del contenedor */
    }
    
}

