/*
div {
    background-color: #F1EFEB;
    padding: 50px;
    margin: 100px;
    width: 700px;
    height: 700px;
}
*/


body {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: playfair display;
}

.container {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 208, 208);

}

.inicio {
    display: flex;
    flex-direction: column;
}

.inicio p {
    text-align: center;
    
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    gap:90px;

    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    font-weight: bold;
   
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: 400px;
    height: 600px;
   

}

.card img {
    width: 100%;
}


.container h1 {
    padding: 15px;
    text-align: center;
}

.card .texto {
    height: 300px;
    display: flex;
    flex-direction: column;
}

h1, h3 {
    font-family: 'Playfair Display', serif;;
}

.precio {
    margin: 0;
}
