.header1{
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 75px;
}
.container_logo{
    margin-left: 30px;
}
.nav__icon {
    width: 30px;
    display: block;
}

  /* ESTILOS CAMBIO DE MONEDA */
.container_header .tipo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.moneda {
    padding: 10px;
    font-size: 0.8em;
    border: none;
    background: none;
    color: #000;
    width: auto;
    cursor: pointer;
}

.moneda:hover {
    background: #ddd;
}

.moneda:focus {
    outline: none;
    background: none;
}

.nav1{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.bar-btn{
    cursor: pointer;
    margin-right: 30px;

}
.nav-menu{
    position: fixed;
    height: 0vh;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding: 0;
    background: #161515c0;
    text-align: center;
    transition: all .5s;
    font-size: 80%;
}
.dropdown__list{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}
.dropdown-link{
    text-decoration: none;
    color: antiquewhite;
    font-size: 16px;
    text-transform: uppercase;   
    font-weight: bold;
    
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu .dropdown__list{
    display: block;
    
}

/* Responsive Desktop  HEADER */
@media screen and (min-width: 768px){
    .header1{
        width: 100%;
        height: 75px;
        padding-left: 5vw;
    }
    .nav1{
        height: 100%;
        width: 100%;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1.5fr 1fr 0.5fr 0.5fr;
    }
    .bar-btn{
        display: none;
    }
    
    .nav-menu{
        position: relative;
        display: flex;
        width: 100%;
        top: 0; 
        background: none;
        transition: none;
        text-align: right;
        align-items: center;
        gap: 15px;
        max-width: none;
        
    }
    .dropdown__list{
        display: flex;
        transition: none;
        justify-content:flex-start;
        align-items: center;
        line-height: normal;
        margin: 0;
    }
    .dropdown-link{
        text-decoration: none;
        margin: 5px;
        color: rgb(0, 0, 0);
        font-weight:bold;
        transition: none;
    }
    .tipo{
        order:5;
        display: flex;
        justify-content: flex-end;
        margin:20px;
    }
    .car{
        order:5;
    }
    .container_logo{
        order:5;
        margin: 0;
        padding: 0;
        
    }
}

.container_header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 0%;
    width: 100%;
}
/* Estilos carrito de compras */
.container_header  .car {
    display: flex;
    justify-content: center;
}

.car button {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
}

.carito {
    display: block;
    width: 70%;
    height: 70%;

}


/* FIN ESTILOS DEL HEADER*/




/* ESTILOS SECCION DE INICIO */


.inicio {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:url(Imagenes/slider-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

.container_inicio {
    padding: 10%;

}
/* FIN ESTILOS SECCION INICIO */

/* ESTILOS SECCION PROMOCION */
.banner1 {
    background-image: url(Imagenes/banner-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10%; 
    width: 100%;

}
.banner_title{
    color: #529F0F;
    font-size: 2.3em;
}


.banner2 {
    background-image: url(Imagenes/banner-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10%; 
    width: 100%;
}

.container_banner{
    padding:0 10%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
}

@media screen and (max-width: 640px) {
    .container_banner{
        padding:0 10%;
        display:flex;
        flex-direction: column;
        gap:40px;
    }

}  
/* FIN ESTILOS SECCION PROMOCION */

/* ESTILOS SECCION LATEST PRODUCTS */

@media screen and (max-width: 768px){
    .ima_Latest_Products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
        padding: 1%;
    }
}

@media screen and (max-width: 640px){
    .ima_Latest_Products{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
    }
    
    
}

/* ESTILOS SECCION NEW PRODUCTS */

@media screen and (max-width: 768px){
    .cardContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 100px;
    }
    .cir{
        font-size: 0.4em;
        width: 15%;
        height: 10%;
    }
}
@media screen and (max-width: 640px){
    .cardContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 300px;

    }
    .cir{
        width: 8%;
        height: 8%;
        font-size: 0.4em;
        left: 25%;
    }
}